In [11]:
S=input("enter satndard time")
T=input("enter time taken")
R=float(input("rate"))
total=[int(T)*float(R)+0.5*(int(S)-int(T)*int(R))]
print(total)

enter satndard time 20
enter time taken 15
rate 1.5

[25.0]

In [14]:
import pandas as pd
df=pd.read_excel("SAMPLE3.xlsx")
df

  name   T   S    R
0  SAR  45  67  600

In [17]:
T=df.loc[0,"T"]
S=df.loc[0,"S"]
R=df.loc[0,"R"]

In [19]:
x=(T*R)+(0.5*(S-T*R))
y=x/T
print("total earnings",x)
print("effective rate of earning per hour",y)

total earnings 13533.5
effective rate of earning per hour 300.74444444444447

In [1]:
import pandas as pd
df=pd.read_excel("sample4.xlsx")
df

      u  a  b  c  Unnamed: 4
0  5000  5  8  6         NaN

In [ ]:
a=df.loc[0,"a"]
b=df.loc[0,"b"]
c=df.loc[0,"c"]